beautifulsoup4==4.4.1
cf-units==1.0.0
compliance-checker==2.1.0
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
netCDF4==1.2.4
numpy==1.11.0
OWSLib==0.11.0
pbr==1.9.1
pyproj==1.9.5.1
python-dateutil==2.5.3
pytz==2016.4
requests==2.10.0
six==1.10.0
stevedore==1.12.0
thredds-crawler==1.2.0
virtualenv==15.0.1
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
